sprite_add_gif_cs-for-GMS1/*

sprite_add_gif_cs-for-GMS2/*
!sprite_add_gif_cs-for-GMS2/assetpackage.yy

sprite_add_gif_cs-for-GMS2.3+/*
!sprite_add_gif_cs-for-GMS2.3+/sprite_add_gif_cs_23.yyp
!sprite_add_gif_cs-for-GMS2.3+/metadata.json